.header > .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;

}
.logonav > img{
    height: 64px;
    margin: 0px;
}
.botones{
    display: flex;
    justify-content: space-between;
    gap:8px;
}
.botones > .reg {
    margin-right: 25px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    padding: 0px;
    margin: 0px;
    background-color: lightblue;
}
.lupa{
    width: 500px;
}

a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    color: hsl(22, 94%, 7%);
    font-size: 16px;
}
