.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 96px;
}
.logonav > img{
    height: 64px;
    margin: 0px;
}
.header > .botones{
    display: flex;
    justify-content: space-between;
    gap:8px;
}
.botones > .reg {
    margin-right: 25px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    padding: 0px 96px;
    margin: 0px;
    background-color: lightblue;
    position: fixed;
    left: 0;
    width: 100%;
}
.nav > .lupa{
    width: 350px;
}
.nav > a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    color: #220D01;
    font-size: 16px;
}